:root {
  --main-color: #1b9dff;
  --secon-color: #edf000;
  --btn-color-font: #815800;

  --main-font: 'Nunito', sans-serif;
  --secon-font: 'Poppins', sans-serif;

  --gradient-1: linear-gradient(#edf000, #f0a400);
  --gradient-2: linear-gradient(#fbff00, #ffae00);
  --btn-shadow: 1px 2px 4px rgba(0, 0, 0, .15);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-container {
  background-color: var(--main-color);
  font-family: var(--main-font);
  color: #222;
  min-height: 100vh;
}

.top-menu {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu > h1 {
  color: #fff;
  font-size: 3rem;
}

.top-menu > h1 .dot {
  color: var(--secon-color);
}

.contact-list li + li {
  margin-top: 1rem;
}

.contact-list a {
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  padding: .75rem;
  transition: all .3s;
}

.contact-list a:hover {
  opacity: 75%;
}

.challenges-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  color: #fff;
}

.chall-content {
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #edf000;
}

.chall-content h2 {
  font-family: var(--secon-font);
  color: var(--secon-color);
  margin-bottom: 1rem;
  letter-spacing: 1.5px;
}

.chall-content p, li {
  font-size: 1.1rem;
  letter-spacing: .5px;
}

.challenge-resolution button {
  padding: .75rem 1rem;
  border-radius: 12px;
  font-weight: 700;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  background: var(--gradient-1);
  box-shadow: var(--btn-shadow);
  cursor: pointer;
  color: var(--btn-color-font);
}

.challenge-resolution button:hover {
  background: var(--gradient-2);
}

@media (max-width: 400px) {
  .top-menu {
    display: block;
    margin-bottom: 0;
  }

  .top-menu > h1 {
    margin-bottom: 1.5rem;
  }

  .chall-content {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}

/* POPUP */

.popup-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  font-family: var(--main-font);
}

.popup-container.blur {
  filter: blur(5px);
}

.popup-content {
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.popup-content label {
  font-size: 1.75rem;
  color: #fff;
}

.popup-content input#integerNumber {
  width: 10ch;
  padding: .5rem;
  font-size: 1.5rem;
  font-family: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--secon-color);
  color: #fff;
  outline: none;
  text-align: center;
}

.popup-content input[type="button"] {
  padding: .5rem 1rem;
  font-size: 1.2rem;
  font-family: inherit;
  border-radius: 8px;
  font-weight: 700;
  background: var(--gradient-1);
  border: none;
  box-shadow: var(--btn-shadow);
  cursor: pointer;
  color: var(--btn-color-font);
  text-transform: uppercase;
}

.popup-content input[type="button"]:hover {
  background: var(--gradient-2);
}

/* MODAL */

.modal-container.show {
  display: flex;  
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;  
}

.modal-container {
  display: none;
}

.modal-content {
  position: relative;
  background-color: #1b9dff;
  border-radius: 5px;
  box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, .3);
  border: 1px solid #fff;
  padding: 1rem;
}

.modal-content #close-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 0px 2px rgba(27, 157, 255, 100), 0px 0px 0px 4px rgba(255, 255, 255, 100), 1px 2px 4px rgba(0, 0, 0, .15);
  font-size: 1rem;
  font-family: var(--secon-font);
  font-weight: bold;
  color: var(--main-color);
  cursor: pointer;
}

.modal-content #close-modal:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 100), 0px 0px 0px 4px rgba(27, 157, 255, 100);
  background-color: #1b9dff;
  color: #fff;
}

.result-count {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 4px;
  padding: 1rem 2rem;
}

.result-count .box-num {
  width: 20px;
  height: 20px;
  background-color: #f0a400;
  color: #000;
  font-family: var(--secon-font);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.result-content p {
  font-size: 1rem;
  font-family: var(--secon-font);
  text-align: center;
}

.result {
  text-align: center;
  font-size: 2rem;
  font-family: var(--secon-font);
  font-weight: 700;
  color: red;
}